@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

/* CSS resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Defaults for Inputs and Buttons */
input,
button {
    font: inherit;
    cursor: pointer;
}

/* Body defaults */
body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER AREA */
header {
    padding: 1em 2em;
}

/* FORM */
form {
    max-width: 600px;
    background-color: pink;
    border-radius: 0.8em;
    padding: 1em 2em 2em;
    display: grid;
    gap: 1em;
}

form h1 {
    text-align: center;
}

.form-contents {
    display: grid;
    gap:1em;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
}