@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

/* CSS resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Defaults for Inputs and Buttons */
input,
button {
    font: inherit;
    cursor: pointer;
}

/* Body defaults */
body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER AREA */
header {
    padding: 1em 2em;
}

/* FORM */
form {
    max-width: 600px;
    background-color: pink;
    border-radius: 0.8em;
    padding: 1em 2em 2em;
    display: grid;
    gap: 1em;
}

form h1 {
    text-align: center;
}

.form-contents {
    display: grid;
    gap:1em;
}

label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.input-box {
    position: relative;
}

.input-box > label {
    position: absolute;
    top: 25%;
    left: 1rem;
    opacity: 0.3;
}

input {
    display: block;
    padding: 0.5rem 0.3rem;
    border: none;
    outline: none;
}

.regular {
    width: 100%;
    border-radius: 0.8em;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.regular:focus {
    border: 2px solid black;
}

.read {
    padding-top: 4px;
    display: block;
}

.read-section {
    display: flex;
    align-items: center;
}

.read-section input {
    margin-left: 10px;
}

.button-area {
    display: grid;
}

.add-book {
    background-color: #0597ff;
    color: white;
    display: block;
    border: none;
    border-radius: 0.8em;
    padding: 1rem 2rem;
}

/* MODAL STYLING */
dialog {
    margin: auto;
    border: none;
    border-radius: 0.8em;
    transition: all 300ms ease-in-out;
    width: max-content;
    border: 1px solid #000;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.6);
}

/* JS */
label.selected {
    opacity: 0;
}

/* CARDS */
.container {
    padding: 0 2em;
    background-color: #00bbf9;
    min-height: 100vh;
}

.add-book-area {
    text-align: center;
    padding: 2em 0;
}

.add-book-header {
    width: max-content;
    border: none;
    border-radius: 1em;
    margin: auto;
    padding: 0 0.5em;
    background-color: black;
    color: white;
    scale: 0.9;
    transition: scale 400ms ease-in-out;
}

.add-book-header:hover {
    cursor: pointer;
    background-color: #ff9e00;
    color: white;
    scale: 1.2;
}

/* CARDS AREA */
.cards {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 2em;
}

/*===================== COLOR PALETTES == START ================== */
.card-wrapper.standard {
    padding: 1em;
    border: 1px solid #000;
    display: grid;
    gap: 1em;
    /* color theme */
    background-color: lightblue;
}
.card-wrapper.avatar {
    padding: 1em;
    border: 1px solid #000;
    display: grid;
    gap: 1em;
    /* color theme */
    background-color: #023e8a;
}
.card-wrapper.percy {
    padding: 1em;
    border: 1px solid #000;
    display: grid;
    gap: 1em;
    /* color theme */
    background-color: #9357b5;
}
.card-wrapper.nature {
    padding: 1em;
    border: 1px solid #000;
    display: grid;
    gap: 1em;
    /* color theme */
    background-color: #004b23;
}
/*----- card details area ---- */
.card-details.standard {
    padding: 1em 0.5em;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr auto auto;
    /* color theme */
    border: 2px solid #0077ff;
    background-color: white;
    color: black;

    height: 175px;
    overflow: hidden;
}
.card-details.avatar {
    padding: 1em 0.5em;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr auto auto;
    /* color theme */
    background-color: #48cae4;
    border: 2px solid #ffea00;
    color: black;

    height: 175px;
    overflow: hidden;
}
.card-details.percy {
    padding: 1em 0.5em;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr auto auto;
    /* color theme */
    background-color: #3a86ff;
    border: 2px solid #ffbe0b;
    color: white;

    height: 175px;
    overflow: hidden;
}
.card-details.nature {
    padding: 1em 0.5em;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr auto auto;
    /* color theme */
    background-color: #9ef01a;
    border: 2px solid #f04a4a;
    color: black;

    height: 175px;
    overflow: hidden;
}
/*----- card area---- */
.card.standard {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.8rem;
    padding: 0.5em;
    width: 100%;
    height: 400px;
    display: grid;
    box-shadow: 0 0 5px #023e8a;
    /* color theme */
    background-color: #f5d847;
}
.card.avatar {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.8rem;
    padding: 0.5em;
    width: 100%;
    height: 400px;
    display: grid;
    box-shadow: 0 0 5px #023e8a;
    /* color theme */
    background-color: #caf0f8;
}
.card.percy {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.8rem;
    padding: 0.5em;
    width: 100%;
    height: 400px;
    display: grid;
    box-shadow: 0 0 5px #023e8a;
    /* color theme */
    background-color: #ed5426;
}
.card.nature {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.8rem;
    padding: 0.5em;
    width: 100%;
    height: 400px;
    display: grid;
    box-shadow: 0 0 5px #023e8a;
    /* color theme */
    background-color: #008000;
}
/*===================== COLOR PALETTES == END ================== */

.card-tags {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 0.5rem;
}